<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132373144901-jlpen77uljpk6386thgp8ms9eem3367g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132373144901-jlpen77uljpk6386thgp8ms9eem3367g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>132373144901-9998qj8ta6sa6k5ddgqvhtenfa9ip4kq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkhucllFynvDVisEj_STQ9_9khc3WDTCg</string>
	<key>GCM_SENDER_ID</key>
	<string>132373144901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>np.com.samirk.donateplus</string>
	<key>PROJECT_ID</key>
	<string>donateplus-cd4d5</string>
	<key>STORAGE_BUCKET</key>
	<string>donateplus-cd4d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132373144901:ios:9adc3830121e3b7a768a2c</string>
</dict>
</plist>